{{#> main}}
{{#*inline "main"}}

{{> renderIntro}}

	<div class="uk-section" id="section-news-listings">
		{{#> ukContainer}}
			{{#*inline "out"}}

				{{> nbItems items=page.items.posts loadMore=true}}
				
			{{/inline}}
		{{/ukContainer}}
	</div>

{{/inline}}
{{/main}}