{{#> main}}
{{#*inline "main"}}

{{> renderIntro}}

<section class="uk-section">
	{{#> ukContainer}}
		{{#*inline "out"}}
			{{> nbItems items=page.items.posts loadMore=true}}
		{{/inline}}
	{{/ukContainer}}
</section>

{{/inline}}
{{/main}}