{{#*inline "blocks"}}
{{#> content}}
	{{#*inline "body"}}

	{{#> ukGrid class="uk-grid-medium uk-child-width-1-2@s"}}
		{{#*inline "cells"}}

		<div>
			<h4>Address</h4>

			<div>
				<div>Holmsgarth</div>
				<div>Lerwick</div>
				<div>Shetland</div>
				<div>ZE1 0PW</div>
			</div>
		</div>

		<div>
			<h4>Opening hours</h4>

			<div>Monday - Friday</div>
			
			<div>0830-1700</div>
			<div>Saturday</div>
			<div>Closed</div>
			<div>Sunday</div>
			<div>Closed</div>
			<div>Available 24/7 by arrangement</div>
		</div>

		<div>
			<h4>Email</h4>

			<a href="mailto:getaquote@streamlinegroup.co.uk">getaquote@streamlinegroup.co.uk</a>
		</div>

		<div>
			<h4>Phone</h4>

			<div class="uk-flex uk-flex-middle"><strong class="uk-margin-small-right">Phone No: </strong><a href="tel:+4401595692869">+44 (0)1595 692 869</a></div>
			<div class="uk-flex uk-flex-middle"><strong class="uk-margin-small-right">Fax: </strong><a href="#">+44 (0)01595 692 234</a></div>
		</div>

		{{/inline}}
	{{/ukGrid}}

	{{/inline}}
{{/content}}

{{#> content}}
	{{#*inline "body"}}

	<h4>Location</h4>

	<div class="map"></div>

	{{/inline}}
{{/content}}

{{#> content}}
	{{#*inline "body"}}

	<h4>Services</h4>

	<ul>
		<li>Daily Trailer Services to the Scottish Mainland</li>
		<li>Stevedoring and Cargo Handling throughout Lerwick and Shetland</li>
		<li>Warehouse and Distribution Services for Shetland Mainland and the Isles</li>
	</ul>

	{{/inline}}
{{/content}}

{{#> content}}
	{{#*inline "body"}}

	<h4>Sectors</h4>

	<ul>
		<li>Daily Trailer Services to the Scottish Mainland</li>
		<li>Stevedoring and Cargo Handling throughout Lerwick and Shetland</li>
		<li>Warehouse and Distribution Services for Shetland Mainland and the Isles</li>
	</ul>

	{{/inline}}
{{/content}}

{{#> content}}
	{{#*inline "body"}}

	<h4>Key Contacts</h4>

	<ul>
		<li>Name List</li>
		<li>Name List</li>
		<li>Name List</li>
	</ul>

	{{/inline}}
{{/content}}

{{/inline}}

{{> tplPage}}