.about {
	padding: $global-large-margin 0;

	.uk-button-primary {
		padding-left: $global-margin;
		padding-top: 14px;
		padding-bottom: 14px;

		.icon {
			height: $global-gutter + 6;
			margin-right: $global-margin;
		}
	}

	.uk-button-default {
		min-height: 64px;
		padding-left: 28px;
	}

	.uk-grid h2 {
		margin-bottom: 0;
	}

	@media (min-width: $breakpoint-small) {
		.uk-button-primary {
			max-width: 220px;
		}

		[data-uk-lightbox] {
			margin-right: $global-small-margin;
		}
	}

	@media (max-width: $breakpoint-xsmall-max) {
		padding-bottom: 110px;
	}
}