.about {
	padding: $global-large-margin 0;

	.uk-button-primary {
		max-width: 280px;
		padding-left: $global-margin;

		.icon {
			height: $global-gutter + 6;
			margin-right: $global-margin;
		}
	}

	@media (min-width: $breakpoint-small) {
		.uk-button-primary {
			max-width: 220px;
		}
	}
}