.banner {
	min-height: 320px;
	padding-top: $global-large-margin;

	.shape-gold {
		bottom: -3px;
	}

	.shape-blue {
		bottom: 0;
		transform: translateY(15%);
	}

	h1 {
		line-height: 1;
	}

	&:not(.banner-home) {
		h1 {
			font-weight: $light;
		}
	}

	&-half {
		.shape-base {
			&::before {
				position: absolute;
				right: 0;
				width: 100%;
				top: 0;
				bottom: 0;
				background-color: $primary;
				content: '';
				z-index: 0;
			}
		}
	}

	&-plain,
	&-half {
		@include streamline-shape('largeHero');
	}

	&-home {
		@include streamline-shape('homeHero');
	}

	@media (min-width: $breakpoint-small) {
		padding-top: 110px;

		.shape-gold {
			bottom: -10px;
		}

		&:not(.banner-home) {
			min-height: 445px;
		}

		&-home {
			min-height: 465px;
		}
	}

	@media (min-width: $breakpoint-large) {
		&-home {
			min-height: 765px;
		}

		&-img {
			position: absolute;
			left: 0;
			width: 50vw;
			top: 0;
			bottom: 0;
		}

		&-half {
			h1 {
				max-width: 520px;
			}
		}

		&:not(.banner-plain) {
			.uk-flex {
				justify-content: flex-end;
			}

			h1 {
				width: 50%;
			}
		}
	}

	@media (max-width: $breakpoint-xsmall-max) {
		&-home {
			margin-bottom: $global-gutter;

			h1 {
				display: none;
			}

			.shape-blue {
				bottom: -3px;
				height: 60px;
			}

			.shape-gold {
				bottom: -7px;
				height: 90px;
			}
		}
	}

	@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium-max) {
		h1 {
			font-size: 60px;
		}

		&-home {
			.shape-blue {
				bottom: -3px;
				height: 100px;
			}

			.shape-gold {
				height: 140px;
			}
		}
	}
}