.lightbox {
	@include streamline-shape('video');

	.uk-h3 {
		color: $white;
	}

	&-inner {
		min-height: 320px;
	}

	.icon-play-video {
		transition: $transition;
		width: 75px;
		height: 75px;
	}

	&-strap {
		background-color: transparent;
		z-index: 0;
		padding: 80px 20px 30px;
		min-height: 100px;
	}

	.shape-gold {
		bottom: 100%;
		height: 60px;
		transform: translateY(80%);
	}

	.shape-base {
		z-index: -1;
	}

	@include hover {
		.icon-play-video {
			transform: translateX(-50%) scale(1.1);
		}
	}

	@media (min-width: $breakpoint-small) {
		&-inner {
			min-height: 531px;
		}

		&-strap {
			padding: 120px 35px 57px;
		}

		.icon-play-video {
			width: 96px;
			height: 96px;
		}

		.shape-gold {
			transform: translateY(81%);
			height: 80px;
		}
	}
}