.services {
	padding: 0;

	.uk-h4 {
		margin-top: $global-margin;
		transition: $transition;
	}

	@media (min-width: $breakpoint-small) {
		.uk-h4 {
			margin-top: $global-gutter;
		}
	}

	@media (min-width: $breakpoint-small) {
		padding: $global-medium-margin 0 0;
	}
}