body {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

[data-uk-lightbox] a {
	cursor: zoom-in;
}

.icon {
	height: 24px;
}

.circle-button,
.share a {
	background-color: transparent;
	border: 1px solid rgba($grey-border-gold, .2);
	transition: $transition;
	width: 56px;
	height: 56px;
	padding: 0;

	.icon {
		color: $primary;
		width: 18px;
	}

	@include hover {
		border-color: $primary;
		background-color: $primary;

		.icon {
			color: $white;
		}
	}
}

.svg {
	position: absolute;
	width: 0;
	height: 0;
}

[data-uk-nb-items] {
	position: relative;
	z-index: 1;

	// .uk-grid {
	// 	box-shadow: $global-large-box-shadow;
	// }
}

main {
	padding-bottom: 150px;

	@media (min-width: $breakpoint-small) {
		padding-bottom: 185px;
	}
}