.template-home {

	h1 {
		letter-spacing: -.02em;
	}

	.news {
		padding-top: 100px;

		@media (min-width: $breakpoint-medium) {
			padding-top: 133px;

			[data-uk-nb-items] {

				.uk-grid>div:not(:last-of-type) {
					border-right: 1px solid $white;
				}
			}
		}
	}
}