.template-home {

	.about,
	.sectors {
		&-images {
			padding: 0 $global-margin;

			.uk-grid {
				margin-left: -8px;

				>* {
					padding-left: 8px;
				}
			}

			*+.uk-grid-margin-small,
			.uk-grid+.uk-grid-row-small,
			.uk-grid+.uk-grid-small,
			.uk-grid-row-small>.uk-grid-margin,
			.uk-grid-small>.uk-grid-margin {
				margin-top: 8px;
			}
		}

		.uk-cover-container {
			height: 100%;
		}
	}

	@media (min-width: $breakpoint-small) {

		.about,
		.sectors {
			&-images {
				padding: 0 $global-small-margin;
			}
		}
	}

	@media (min-width: $breakpoint-medium) {

		.about,
		.sectors {
			&-images {

				.uk-grid {
					margin-left: -$global-small-margin;

					>* {
						padding-left: $global-small-margin;
					}
				}
			}
		}
	}
}