//
// Main
//

// Background Icon
@mixin bg-icon($icon) {
	background-image: url('data:image/svg+xml;utf8,'+ $icon);
	background-repeat: no-repeat;
}

// Hover
@mixin hover {

	&:hover,
	&:focus,
	&:active,
	&.uk-open,
	&.uk-active {
		@content;
	}
}

// Image caption
@mixin image-caption {
	font-size: 16px;
	padding: 5px;
	color: rgba($primary, .7);
	line-height: 1.4;
	text-align: center;
}

// Pseudo Icon
@mixin pseudo-icon($icon) {
	@include bg-icon($icon);
	content: '';
	background-size: contain;
	display: inline-block;
}

// Truncate text
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin link-hover {
	position: relative;
	text-decoration: none;
	color: $secondary;
	transition: $transition;

	&::before,
	&::after {
		content: '';
		position: absolute;
		background-color: $secondary;
		z-index: -1;
		left: 0;
		bottom: 0;
		height: 1px;
	}

	&::before {
		width: 0%;
		transition: ease .4s;
	}

	&::after {
		width: 100%;
		transition: ease .6s;
	}

	@include hover {

		&::before {
			width: 100%;
		}

		&::after {
			left: 100%;
			width: 0%;
			transition: ease .2s;
		}
	}
}

// Slidenav Buttons
@mixin slidenav-buttons {
	width: 55px;
	height: 55px;
	margin-left: 0;
	margin-right: 0;

	svg {
		color: $secondary;
		transition: $transition;
		height: 27px;
		width: 27px;

		* {
			stroke-width: 4px;
		}
	}

	@include hover {
		text-decoration: none;

		svg {
			color: $primary;
		}
	}

	@media (max-width: $breakpoint-large) {
		margin: 15px 0;

		@include hover {

			svg {
				color: $white;
			}
		}

		&.uk-slidenav-previous {
			right: auto;
		}

		&.uk-slidenav-next {
			left: auto;
			right: 0;
		}
	}
}

// Button hover effect
@mixin button-hover($color) {
	overflow: hidden;
	z-index: 1;

	&::before {
		position: absolute;
		content: '';
		display: block;
		width: 360px;
		height: 360px;
		pointer-events: none;
		left: 50%;
		transform: scale(0) translate(-50%, -50%);
		top: 50%;
		transform-origin: center;
		border-radius: 50%;
		background-color: $color;
		transition: .4s ease-in-out;
		z-index: -1;
	}

	@include hover {
		&::before {
			transform: scale(1) translate(-50%, -50%);
		}
	}
}

//Expandable arrow
@mixin expandable-arrow {

	span,
	span::before,
	span::after {
		position: absolute;
		content: '';
	}

	span {
		height: 17px;
		width: $global-gutter;
		bottom: $global-gutter;
		left: $global-margin;
		transition: $transition;

		&::before,
		&::after {
			display: block;
		}

		&::before {
			height: 2px;
			width: 100%;
			background-color: $secondary;
		}

		&::after {
			width: 13px;
			height: 13px;
			border-right: 2px solid $secondary;
			border-bottom: 2px solid $secondary;
			left: 100%;
			transform: translate(calc(-100% + .5px), -50%) rotate(-45deg);
			top: 50%;
		}
	}

	@include hover {
		span {
			width: 72px;
		}
	}

	@media (min-width: $breakpoint-small) {
		span {
			bottom: $global-gutter;
			left: 45px;
		}
	}
}

@mixin bulletin {
	&::before {
		position: absolute;
		left: $global-margin;
		content: '';
		display: block;
		border-radius: 50%;
		background-color: $blue-light;
		width: 6px;
		height: 6px;
		top: 25px;
	}

	@media (min-width: $breakpoint-small) {
		&::before {
			left: $global-gutter;
			top: 35px;
		}
	}
}

@mixin streamline-shape($shape) {

	.shape-base,
	.shape-gold,
	.shape-blue {
		position: absolute;
		left: 0;
		width: 100%;
	}

	.shape-base {
		top: 0;
		bottom: 0;
		clip-path: url('##{$shape}HeroShape');
	}

	.shape-gold {
		bottom: -3px;
		height: 100px;
		background-color: $secondary;
		clip-path: url('##{$shape}HeroGoldShape');
	}

	.shape-blue {
		bottom: 0;
		height: 70px;
		background-color: $primary;
		clip-path: url('##{$shape}HeroBlueShape');
		transform: translateY(15%);
	}

	@media (min-width: $breakpoint-small) {
		.shape-blue {
			height: 110px;
		}

		.shape-gold {
			bottom: -10px;
			height: 160px;
		}
	}
}


//
// UIkit
// https://github.com/uikit/uikit/tree/master/src/scss
//
// Imports UIkit mixin overrides for the theme
// These are not used by main.scss, although loaded
//
// ========================================================================

// Base
@import 'uikit/base';

// Elements
@import 'uikit/table';
@import 'uikit/form';
@import 'uikit/button';

// Layout
@import 'uikit/card';

// Navs
@import 'uikit/navbar';
@import 'uikit/breadcrumb';
@import 'uikit/switcher';

// Utilities
@import 'uikit/text';

// Slideshow
@import 'uikit/slideshow';

// Accordion
@import 'uikit/accordion';

// Alert
@import 'uikit/alert';

// Search
@import 'uikit/search';

// Section
@import 'uikit/section';