//
// Main
//
// ========================================================================

//
// Typography
//

// Family
$font-default: Calibri,
Candara,
Segoe,
Segoe UI,
Optima,
Arial,
sans-serif;

// Size
$font-size: 18px;

// Weight
$light: 300;
$normal: 400;
$bold: 700;

// Line Height
$line-height: 1.7;

// Line Height
$border-radius-small: 3px;


//
// Colours
//
$white: #fff;
$black: #241d1e;
$primary: #002e62;
$secondary: #847558;
$success: #32d296;
$warning: #ffc979;
$danger: #fcb2bf;
$red: #d13e4e;
$cold-grey: #eef2f5;
$ink: #1f1447;
$gold-lighter: #d9c58d;
$blue-dark: #001a4e;
$blue-light: #007deb;
$grey-border: #d3dbe1;
$grey-border-gold: #afa178;
$grey: lighten($black, 32%);
$light-grey: lighten($grey, 32%);
$off-white: #fafafa;


//
// Other
//

// Animation
$speed: 256ms;
$speed-fast: 128ms; // math.div($speed, 2);
$speed-slow: $speed * 2;
$timing: ease-in-out;
$transition: $speed $timing;


//
// UIkit Global Variables
// https://github.com/uikit/uikit/blob/master/src/scss/components/variables.scss
//
// Imports UIkit variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'uikit/variables';

//
// Mmenu Global Variables
// https://github.com/FrDH/mmenu-js/blob/master/src/_variables.scss
//
// Imports Mmenu variable overrides for the theme
// These may be used by main.scss
//
// ========================================================================

@import 'mmenu/variables';
@import 'mmenu/mmenu';