.nb-form {

	+.nb-form {
		margin-top: $global-gutter;
	}

	&-content {
		position: relative;

		ul {
			margin: 0 0 $global-small-margin;
			padding: 0;

			li {
				display: inline-block;
				list-style: none;
				width: 100%;
			}
		}

		.InputfieldRadiosFloated {

			li {
				padding-right: $global-gutter;
				width: auto;
			}
		}

		[aria-invalid='true'] {
			border: 2px solid $red;
		}
	}

	.uk-checkbox {

		+span {
			display: inline-block;
			margin-left: $global-small-margin;
		}
	}

	.uk-radio {

		+span {
			display: inline-block;
			margin-left: $global-small-margin;
		}
	}

	.InputfieldToggle {

		.InputfieldToggleHelper {
			display: none !important;
		}
	}

	&-error {
		color: $red !important;
		font-size: 16px;
		font-weight: $light;
		margin-top: -7px;
		line-height: 1.4;
		margin-bottom: 5px; // math.div($global-small-margin, 2);
	}

	&-errors {
		font-weight: $light;
		border-radius: 0;
	}

	.uk-text-small {
		font-size: 14px;
		margin-bottom: 5px;
		margin-top: -7px;
	}

	.g-recaptcha {
		margin-bottom: $global-gutter;
	}

	@media (min-width: $breakpoint-large) {

		*+.uk-grid-margin-small,
		.uk-grid+.uk-grid-row-small,
		.uk-grid+.uk-grid-small,
		.uk-grid-row-small>.uk-grid-margin,
		.uk-grid-small>.uk-grid-margin {
			margin-top: 25px;
		}
	}
}