{{#*inline "nav"}}
{{#each items}}
	{{#with this}}
	<li class="{{#if children}}uk-parent{{/if}}{{#if (eq ../active name)}} uk-active{{/if}}">
		<a href="{{default url "#"}}"{{#if children}} class="uk-flex uk-flex-middle"{{/if}}>
			{{title}}
		</a>
		{{#if children}}
		{{> renderNavigation items=children mobile=../mobile active=../active level=1}}
		{{/if}}
	</li>
	{{/with}}
{{/each}}
{{/inline}}

{{#if mobile}}{{!-- Mobile / Mobile Sub --}}

<ul>
	{{#>nav}}{{/nav}}
	<li class="uk-flex uk-flex-middle mmenu-contact nav-bottom">
		<a class="uk-text-small" href="#">News</a>
		<a class="uk-text-small" href="#">Contact</a>
	</li>
	<li class="nav-bottom">
		{{> ukButton link="#" label="Customer login" icon="user" pull="left" style="primary" class="uk-margin-medium-left"}}
	</li>
	<li class="nav-bottom">
		{{> ukButton link="#" style="secondary" label="Get in quote" icon="arrow-right" class="uk-width-1-1 uk-flex-between"}}
	</li>
</ul>

{{else}}

	{{#if level}}{{!-- Desktop Sub --}}

	<div class="uk-navbar-dropdown">
		<ul class="uk-nav uk-navbar-dropdown-nav">
			{{#>nav}}{{/nav}}
		</ul>
	</div>

	{{else}}{{!-- Desktop --}}

	<ul class="uk-navbar-nav">
		{{#>nav}}{{/nav}}
	</ul>

	{{/if}}

{{/if}}
