.footer {
	color: $white;
	@include streamline-shape('footer');

	.shape {
		&-blue {
			bottom: calc(100% - 1px);
		}

		&-gold {
			bottom: calc(100% + 15px);
		}
	}

	.uk-h3,
	.social a,
	.uk-button-default,
	.links a {
		color: $white;
	}

	ul li {
		list-style-type: none;
	}

	a {
		text-decoration: none;
		transition: $transition;
	}

	.social,
	.uk-button-large {
		width: 100%;
	}

	.uk-button-default {
		border-color: rgba($white, .5);

		&::before {
			background-color: $blue-dark;
		}

		.icon {
			color: $gold-lighter;
		}

		@include hover {
			border-color: $blue-dark;
		}
	}

	&-inner {
		padding-top: 125px;
	}

	&-top {
		border-bottom: 1px solid rgba($white, .1);
		padding-bottom: 37px;
	}

	&-middle {
		padding: 37px 0;

		a[href*='tel'],
		a[href*='mailto'] {
			color: $gold-lighter;
			border-bottom: 1px solid rgba($white, .3);

			@include hover {
				color: $white;
			}
		}
	}

	&-bottom {
		font-size: 14px;
	}

	.links,
	.social a,
	.legal a {
		@include hover {
			color: $gold-lighter;

			.icon {
				color: $gold-lighter;
			}
		}
	}

	.links {
		a {
			font-size: 24px;
			line-height: 1.4;
		}

		.icon {
			margin-right: $global-gutter;
			transition: $transition;
		}
	}

	.social {
		margin-bottom: $global-medium-margin;

		a {
			font-size: $global-margin;

			&:not(:first-of-type) {
				margin-left: $global-gutter;
			}

			span {
				border: 1px solid rgba($white, .3);
				width: 39px;
				height: 39px;
			}

			.icon {
				width: 16px;
			}
		}
	}

	.copyright,
	.legal {
		margin-bottom: $global-gutter;
	}

	.legal {
		padding: $global-small-margin 0 0;

		ul {
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				list-style: none;
				margin-right: $global-small-margin;
				margin-bottom: 5px;
				padding: 0;

				a {
					color: $white;
				}

				@media (max-width: $breakpoint-mobile) {
					display: block;
				}
			}
		}
	}

	.watermark {
		a {
			align-items: center;
			color: $white;
			display: inline-flex;

			@include hover {
				color: #e11e2f;
				text-decoration: none;
			}

			img {
				height: 15px;
				margin-left: 8px;
				width: auto;
			}
		}
	}

	@media (min-width: $breakpoint-small) {
		&-inner {
			padding-top: 160px;
		}
	}

	@media (min-width: $breakpoint-medium) {

		.uk-button-large,
		.social {
			max-width: 400px;
		}

		.uk-button-large::before {
			width: 410px;
			height: 410px;
		}

		&-middle {
			padding: 65px 0;
		}

		.social {
			margin-bottom: $global-large-margin;

			&:not(:first-of-type) {
				margin-left: $global-medium-margin;
			}
		}

		.legal ul li {
			margin-right: $global-margin;
		}
	}

	@media (max-width: $breakpoint-small-max) {
		.uk-h3 {
			font-size: 26px;
		}
	}
}