<div data-uk-nb-items>
{{#> ukContainer size="large"}}
	{{#*inline "out"}}

	{{#if filter}}
	<div class="nb-items-filter uk-margin-bottom">{{filter}}</div>
	{{/if}}

	{{#if message}}
	<div class="nb-items-message uk-margin-bottom">
		<div class="uk-alert uk-alert-primary">Showing 12 of 24 found for <strong>q</strong></div>
	</div>
	{{/if}}

	{{#> ukGrid class=(default class "uk-child-width-1-3@m uk-grid-match uk-grid-collapse uk-flex-center nb-items-container") dataUkHeightMatch="target: >div>.uk-card>.uk-card-body" dataUkScrollspy="cls: uk-animation-fade; delay: 250; target: .uk-grid>div"}}
		{{#*inline "cells"}}
		{{> renderItems}}
		{{/inline}}
	{{/ukGrid}}

	{{#if loadMore}}
	<div class="uk-text-center nb-items-more">
		{{> ukButton label="Load More"}}
	</div>
	{{/if}}

	{{/inline}}
{{/ukContainer}}
</div>
