<div class="banner uk-position-relative uk-light{{#if (eq page.name "home")}} banner-home{{/if}}{{#if page.banner.plain}} banner-plain{{/if}}{{#if page.banner.halfImg}} banner-half{{/if}}">
	<div class="shape-base uk-cover-container" role="presentation">
		{{#if page.banner.halfImg}}
			<div class="banner-img uk-overflow-hidden">
		{{/if}}
			<img src="{{#if page.banner.src}}{{page.banner.src}}{{else}}{{aws}}/img/placeholder-castle-banner.jpg{{/if}}" data-uk-cover alt="">
		{{#if page.banner.halfImg}}
			</div>
		{{/if}}
	</div>
	<span class="shape-gold" role="presentation"></span>
	<span class="shape-blue" role="presentation"></span>
	<div class="uk-position-relative">
		{{#> ukContainer size=(default page.banner.size (default page.ukContainer ukContainer))}}
			{{#*inline "out"}}
			<div class="uk-flex">
				<h1{{#if (eq page.name "home")}} class="uk-visible@s"{{/if}}>{{page.h1}}</h1>
			</div>
			{{/inline}}
		{{/ukContainer}}
	</div>
</div>
