<div class="lightbox uk-margin-large-top uk-margin-bottom" data-uk-scrollspy="cls: uk-animation-fade;delay: 300">
	{{#> ukContainer size=(default size (default page.ukContainer ukContainer))}}
		{{#*inline "out"}}

		{{#if title}}
			<h2>{{title}}</h2>
		{{/if}}

		{{> ukLightbox}}

		{{/inline}}
	{{/ukContainer}}
</div>
