{{#each items}}
	{{#with this}}
		<div class="items-service uk-position-relative uk-overflow-hidden">
			<a href="#" class="uk-position-cover uk-position-z-index" aria-label="Find out more about {{title}}"></a>
			<span class="uk-flex uk-flex-middle" role="presentation"></span>
			{{#if name}}
				{{> renderIcon name=name}}	
			{{/if}}
			<div class="{{#if @last}}uk-h3 uk-margin-remove-top uk-margin-bottom{{else}}uk-h4 uk-margin-small-bottom{{/if}}">{{title}}</div>
			{{#if text}}
				<div class="uk-position-relative uk-text-small uk-margin-small-top uk-visible@s">{{text}}</div>
			{{/if}}
		</div>
	{{/with}}
{{/each}}
