<div class="switch uk-position-relative">

	{{#> ukContainer}}
		{{#*inline "out"}}

		<div class="uk-flex uk-flex-right" data-uk-switcher="animation: uk-animation-fade; connect: #switcher-nav">
			<div>
				<a href="#" class="uk-flex uk-flex-column uk-flex-right@s uk-flex-center uk-flex-middle uk-text-uppercase">
					{{> renderIcon name="search"}}
					Search site
				</a>
			</div>
			<div>
				<a href="#" class="uk-flex uk-flex-column uk-flex-right@s uk-flex-center uk-flex-middle uk-text-uppercase">
					{{> renderIcon name="signature"}}
					Get a Quote
				</a>
			</div>
		</div>			

		<ul class="uk-switcher" id="switcher-nav">
			<li class="uk-box-shadow-large">
				<p class="uk-h4">Search site</p>
				{{> search}}
			</li>
			<li class="uk-box-shadow-large">
				<p class="uk-h4">Get a quote for your shipment</p>
				<div class="uk-flex">
					<form id="nb-form-{{page.name}}-quote" class="uk-form-stacked InputfieldForm uk-width-1-1" method="post" data-uk-nb-form novalidate data-colspacing="1">
						<div class='uk-grid-small uk-flex-bottom' data-uk-grid>
							{{> nbInput class="uk-width-expand" name="name" title="Your name" placeholder="Your name"}}
							{{> nbInput class="uk-width-expand" name="company_name" title="Company name" placeholder="Company name"}}
							<div class="uk-width-auto@m">
								<button id="nb-form-{{page.name}}_continue" class="uk-button uk-button-secondary uk-box-shadow-medium uk-width-1-1" name="continue" value="Continue" type="submit">
									Continue
									{{> renderIcon name="arrow-right"}}
								</button>
							</div>
						</div>
					</form>
				</div>
			</li>			
		</ul>

		{{/inline}}
	{{/ukContainer}}
	
</div>
